{% extends 'base.html' %}
{% block content %}

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light intro-header-bg">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-bold">Developing the Next Gen of Cyber Citizens</h1>
        <h4 class="display-7 font-weight-bold">We empower your child to leverage code to reimagine their world</h4>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>



    <div class="position-relative overflow-hidden p-3 p-sm-3 m-sm-2 text-center bg-light ">
      <div class="col-sm-3 p-lg-3 mx-auto my-3">
        <h1 class="display-6 font-weight-normal">Our Tech Stack</h1>
        <p class="lead font-weight-normal">Check out some of the many languages and platforms we use to teach</p>
        <a style="text-decoration: none;" class="btn btn-outline-secondary" href="#">View Stack</a>
      </div>
    </div>

    <div class="stack-gallery">
      <div class="stack-gallery-content">
        <img src="static/images/Stack/scratch.png" alt="scratch logo" height="100" width="130">
        <img src="static/images/Stack/blockly.png" alt="Blockly logo" height="90" width="130">
        <img src="static/images/Stack/edublocks.jpg" alt="EduBlocks logo" height="100" width="110">
        <img src="static/images/Stack/makecode.png" alt="MakeCode logo" height="90" width="120">
        <img src="static/images/Stack/python.png" alt="python logo">
        <img src="static/images/Stack/cplusplus.png" alt="C++ logo">
        <img src="static/images/Stack/csharp.png" alt="csharp logo">
        <img src="static/images/Stack/unity.png" alt="unity logo">
        <img src="static/images/Stack/unreal.png" alt="unreal logo">
        <img src="static/images/Stack/javascript.png" alt="javascript logo">
        <img src="static/images/Stack/html.png" alt="html logo">
        <img src="static/images/Stack/css.png" alt="css logo">

        <img src="static/images/Stack/scratch.png" alt="scratch logo" height="100" width="130">
        <img src="static/images/Stack/blockly.png" alt="Blockly logo" height="90" width="130">
        <img src="static/images/Stack/edublocks.jpg" alt="EduBlocks logo" height="100" width="110">
        <img src="static/images/Stack/makecode.png" alt="MakeCode logo" height="90" width="120">
        <img src="static/images/Stack/python.png" alt="python logo">
        <img src="static/images/Stack/cplusplus.png" alt="C++ logo">
        <img src="static/images/Stack/csharp.png" alt="csharp logo">
        <img src="static/images/Stack/unity.png" alt="unity logo">
        <img src="static/images/Stack/unreal.png" alt="unreal logo">
        <img src="static/images/Stack/javascript.png" alt="javascript logo">
        <img src="static/images/Stack/html.png" alt="html logo">
        <img src="static/images/Stack/css.png" alt="css logo">
      </div>
    </div>



{% endblock content %}